/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
    background-image: url("https://cdn.pixabay.com/photo/2016/04/30/14/58/music-1363069__340.jpg");
    background-size: width max; height: max;
    background-repeat: no-repeat;  
    background-position: top right;
    background-color: greenyellow
}

/* header styles */

h1 {
    font-size: 4rem;
    text-align: center;

}

header p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Stylish', sans-serif;
}

/* section styles */

section article {
    width: 33%;
    float: left;
}

section p {
    margin: 5px 0;
}

section ul {
    margin-top: 0;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black
}
